@page
@model CryptoNews.Pages.CryptoSettings.TwitterUnfollowUserPageModel
@{
	ViewData["Title"] = Html.DisplayNameFor(m => m);

	var TwitterUnfollowUser = Model?.TwitterUnfollowUser;

	if (TwitterUnfollowUser == default(object)) { return; }
}

<h2>@ViewData["Title"]</h2>

<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12">
			<form class="row" method="post">
				@Html.HiddenFor(m => m.TwitterUnfollowUser.Id)
				<div class="col-12">
					<div class="form-check">
						@Html.CheckBoxFor(m => m.TwitterUnfollowUser.State, new { @class = "form-check-input" })
						<label class="form-check-label" for="TwitterStatusState">@Html.DisplayNameFor(m => m) : @(TwitterUnfollowUser.State)</label>
					</div>
					<br />
				</div>
				<div class="col-md-6 col-sm-12">
					<div class="form-group">
						@Html.LabelFor(m => TwitterUnfollowUser.FromMinute, new { @class = "font-weight-bold" })
						<input class="form-control" asp-for="@TwitterUnfollowUser.FromMinute" placeholder="@(Html.DisplayNameFor(m => TwitterUnfollowUser.FromMinute))" />
					</div>
				</div>
				<div class="col-md-6 col-sm-12">
					<div class="form-group">
						@Html.LabelFor(m => TwitterUnfollowUser.ToMinute, new { @class = "font-weight-bold" })
						<input class="form-control" asp-for="@TwitterUnfollowUser.ToMinute" placeholder="@(Html.DisplayNameFor(m => TwitterUnfollowUser.ToMinute))" />
					</div>
				</div>
				<div class="col-sm-12">
					<button class="btn btn-success mt-2 mb-5" type="submit">Update</button>
				</div>
			</form>
		</div>
	</div>
</div>
